<h1 class="title">Create a drone</h1>

<form action="/drones/create-new" method="post" class="form">
    <label for="name">Name of the drone</label>
    <input class="input" type="text" name="name">
    <label for="propellers">Propellers</label>
    <input class="input"  type="number" name="propellers">
    <label for="propellers">Maximum Speed</label>
    <input class="input" type="number" name="maxSpeed">
    <button class="btn-submit" type="submit">Submit</button>
</form>
