* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Avenir;
  min-height: 200vh;
  position: relative;
}

#header_main {
  background: black;
  color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: dodgerblue;
}

#content-main {
  top: 70px;
  position: relative;
  padding: 20px;
}

.title {
  text-align: center;
  margin: 20px auto;
}

/* keep it D.R.Y : Dont Repeat Yourself !!!  */
.text-block {
  padding: 20px;
  background: silver;
  border-radius: 0.4rem;
  border: 1px solid;
  max-width: 540px;
  margin: 10px auto 20px;
}

.wrap {
  border: 2px solid;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: auto;
}

.square {
  width: 48px;
  height: 48px;
  background: purple;
}

.wrap .square {
  position: absolute;
}

.wrap .square.top {
  top: 10px;
}

.wrap .square.bottom {
  bottom: 10px;
}

.wrap .square.left {
  left: 10px;
}

.wrap .square.right {
  right: 10px;
}
