<form class="form" action="/artists/create" method="POST">
    <h2>Create an artist</h2>

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <p>Is band ?</p>
    <div class="row">
        {{!-- Inputs type="radio" with the same name will automatically toggle/untoggle the others :) --}}
        <label for="is-band-true">True</label>
        <input type="radio" id="is-band-true" name="isBand" value="true">
        <label for="isband-false">False</label>
        <input type="radio" id="isband-false" name="isBand" value="false">
    </div>

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <button class="btn">Create</button>

</form>