@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}
