/* .nav {
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  font-size: 0.85rem;
} */

.header {
  background-color: rgb(33, 33, 33);
  color: white;
  align-items: center;
  padding: 8px 10px;
  font-size: 1rem;
}

.header .nav .nav-link:not(:last-child) {
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .nav-link:hover {
  color: fuchsia;
}

.nav .title {
  font-size: 1rem;
}

.main {
  padding: 20px 40px 0 40px;
}

.table {
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.table tr {
  height: 58px;
  border: 1px solid black;
}

.title {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.form .input {
  padding: 6px 0 6px 10px;
  outline: none;
  border: 1px solid black;
  background-color: whitesmoke;
}

.form > * {
  margin-bottom: 10px;
}

.form .btn {
  max-width: 300px;
  padding: 10px 12px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
}
