{{!-- enctype="multipart/form-data" is required on the form in order to send binary data (files)
        it can be a video / audio file or an image
  --}}
<form class="form" action="/labels/create" method="POST" enctype="multipart/form-data">
    <h2>Create a label</h2>

    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name">

    <label for="country">Country</label>
    <input class="input" type="text" id="country" name="country">

    <label for="city">City</label>
    <input class="input" type="text" id="city" name="city">

    <label for="logo">Logo</label>
    <input class="input" type="file" id="logo" name="logo">
    <button class="btn">Create</button>
</form>