<nav id="nav-main">
    <a href="/" class="link">
        <i class="fa fa-home"></i>
    </a>
    <a href="/my-dev-squad" class="link">my dev squad</a>
    <a href="/add-new-ironhacker" class="link">add new hacker</a>
</nav>