<nav class="nav">

    <a class="nav-link" href="/albums/all"> Albums</a>
    <a class="nav-link" href="/artists/all"> Artists</a>
    {{#if isLoggedIn}}
    <a class="nav-link" href="/profile">{{username}}</a>
    <a class="nav-link" href="/auth/logout"> Logout</a>
    {{else}}
    <a class="nav-link" href="/auth/signin"> Signin</a>
    <a class="nav-link" href="/auth/signup"> Signup</a>
    {{/if}}
</nav>