<nav class="nav">
    <a class="nav-link" href="/artists">Artists</a>
    <a class="nav-link" href="/albums"> Albums</a>
    <a class="nav-link" href="/labels">Labels</a>
    <a class="nav-link" href="/styles"> Styles</a>
</nav>