<div class="instructions">
    <h2 class="title">Environment variables that you will need in this project (in a <code>.env</code> file)</h2>
    <ul>
        <li>PORT = ????</li>
        <li>MONGODB_URI = ????</li>
        <li>CLOUDINARY_API_KEY = ????</li>
        <li>CLOUDINARY_API_SECRET = ????</li>
        <li>CLOUDINARY_NAME = ????</li>
    </ul>
</div>