<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <header class="header">
    <div class="row space-between">
      <a href="/">
        <h1>Artistify</h1>
      </a>
      {{> navbar }}
    </div>
  </header>
  <main class="main">
    {{{body}}}
  </main>
</body>

</html>