<h1 class="title">Artists
    <span>
        &nbsp; <a class="link-create" href="/artists/create"><i class="fas fa-plus"></i></a>
    </span>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Band</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {{#each artists}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.isBand}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>