<form action="/labels/create" method="POST" enctype="multipart/form-data">
    <h1>Create a label</h1>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="country">Country</label>
    <input type="text" id="country" name="country">

    <label for="city">City</label>
    <input type="text" id="city" name="city">

    <label for="logo">Logo</label>
    <input type="file" id="logo" name="logo">
    <button>Create</button>
</form>