{{#if pageTitle}}
<h1 class="title">{{pageTitle}}</h1>
{{else }} <h1 class="title">Home page</h1>
{{/if}}

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, voluptatibus.
</p>
<hr>
<ul id="ironhackers">
    {{#each ironhackers}}
    <li class="item">{{this.name}}</li>
    {{/each}}
</ul>
<hr>
<h2 class="title">D.R.Y</h2>
{{> customButton "go to login" }}
{{> customButton "go to signup" }}
<hr>
<ul>
    <li>go</li>
    <li>go</li>
    <li>ninjas !!!</li>
</ul>