<form method="post" action="/cat" class="form">
    <h1 class="title">Add a cat in database</h1>
    <input class="input" type="text" name="name" placeholder="put the cat's name here">
    <input class="input" type="number" name="age" placeholder="put the cat's age here">
    <input class="input" type="text" name="color" placeholder="put the cat's color here">
    <input class="input" type="text" name="picture" placeholder="paste an image link here">
    <button class="btn">create !</button>
    {{!-- <input class="btn" type="submit" value="create !"> --}}
</form>