<form class="form">
    <h1 class="title">Create new ironhacker</h1>
    <hr>
    <label class="label" for="name">name</label>
    <input class="input" id="name" type="text" name="userName">
    <label class="label" for="email">email</label>
    <input class="input" id="email" type="email" name="userEmail">
    <label class="label" for="favLang">favorite langage</label>
    <input class="input" id="favLang" type="text" name="userFavoriteLangage">
    <button class="btn">create !</button>
</form>