* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Avenir;
  min-height: 200vh;
  position: relative;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row .block {
  background: dodgerblue;
  color: white;
  flex: 1;
  min-height: 80px;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.row .block:last-of-type {
  margin-right: 0;
}

/* media query here ! usefull for responsive design tasks */
@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }

  .row .block {
    background: darkorange;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
